
<header class="navbar-custom" >
    <nav class="navbar navbar-expand-lg  bg-black" style="width:100%">
        <a class="navbar-brand" style="margin-left: 10px; color: #81b3d2" href="<%= root_path %>">
        <%= image_tag("logo.png", width:"130", class:"ms-2")%></a>
            <ul class="navbar-nav ms-auto" >

                <li class="nav-item navbar-custom">
                    <a class="nav-link" style="color: #81b3d2" href="<%= users_path %>"> Tutors  </a>
                </li>

                <li class="nav-item navbar-custom" >
                     <a class="nav-link" style="color: #81b3d2" href="<%= lessons_path %>"> Lessons</a>
                </li>

                <li>
                <% if current_user.present? %>
                    <% if current_user.is_tutor %>
                
                    <li class="nav-item navbar-custom">

                    <a class="nav-link" style="color: #81b3d2" href="<%= new_lesson_path %>"> Create Lessons </a>
                    </li>
                    <% else %>
                    <li class="nav-item navbar-custom">
                        <a class="nav-link" style="color: #81b3d2"  href="<%= new_enrollment_path %>"> Register Lesson</a>
                    </li>
                    <% end %>
                <% end %>

                <% if user_sign_in? %>
                        <li class="nav-item navbar-custom">
                    <% if current_user.is_tutor == false %>
                        <a href="<%= dashboard_admin_index_path %>" class="nav-link" style="color: #81b3d2" > Hello Student: <%= current_user.username %></a>
                    <% else %>
                        <a href="<%= dashboard_admin_index_path %>" class="nav-link" style="color: #81b3d2" > Hello Tutor: <%= current_user.username %></a> 
                    <% end %>

                    <li class="nav-item navbar-custom me-2">
                        <%= button_to "Log out", session_path, method: :delete, class: "btn btn-danger" %>
                    </li>
                <% else %>

                    <li class="nav-item navbar-custom">
                        <a class="nav-link" href="<%= new_session_path %>"> Sign In</a>
                    </li>

                    <li class="nav-item navbar-custom">
                        <a class="nav-link" href="<%= new_user_path %>"> Sign Up</a>
                    </li>
                <% end %>
            </ul>
    </nav>
</header>
