
<header class="navbar-custom" >
    <nav class="navbar navbar-expand-lg  bg-black" style="width:100%">
        <a class="navbar-brand" style="margin-left: 10px; color: #81b3d2" href="<%= root_path %>">
        <%= image_tag("logo.png", width:"130", class:"ms-2")%></a>
            <ul class="navbar-nav ms-auto" >
                <%# <li class="nav-item navbar-custom">
                    <a class="nav-link"  href=#> Admin Panel  </a>
                </li> %>
                <li class="nav-item navbar-custom" >
                     <a class="nav-link" style="color: #81b3d2" href="<%= lessons_path %>"> Lessons</a>
                </li>

                <li class="nav-item navbar-custom">
                     <a class="nav-link" style="color: #81b3d2" href="<%= new_lesson_path %>"> Create Lessons </a>
                </li>
                <li class="nav-item navbar-custom">
                     <a class="nav-link" style="color: #81b3d2"  href="<%= new_enrollment_path %>"> Register Lesson</a>
                </li>
             

                <% if user_sign_in? %>
                    <%# if User_isTutor? %>
                        <li class="nav-item navbar-custom mt-2 me-2">
              

                        <a href=<% dashboard_admin_index_path %> ><%= tutor_check? ? "Hello Tutor:" : "Hello Student:"  %> <%= current_user.username %>  </a>

                    <li class="nav-item navbar-custom me-2">
                        <%= button_to "Log out", session_path, method: :delete, class: "btn btn-danger" %>
                    </li>
                <% else %>

                    <li class="nav-item navbar-custom">
                        <a class="nav-link" href="<%= new_session_path %>"> Sign In</a>
                    </li>

                    <li class="nav-item navbar-custom">
                        <a class="nav-link" href="<%= new_user_path %>"> Sign Up</a>
                    </li>
                <% end %>
            </ul>
    </nav>
</header>
