<p> <%= @lesson.subject %> </p>  
<p> ID: <%= @lesson.id %> </p>
<p> Description: <%= @lesson.description %> </p>
<p> Cost: <%= @lesson.cost %> </p>
<p> Time: <%= @lesson.time_of_lesson %> </p>
<p> Tutor name: <%= @lesson.tutor.username %> </p>

<%= link_to 'Edit', edit_dashboard_admin_path(@lesson.id) %>
<%#= button_to 'Edit', edit_dashboard_admin_path(@lesson.id,:method => :put) %>  
<%= button_to 'Delete', dashboard_admin_path(@lesson.id), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %>  
